:root {
    background: transparent;
    overflow-y: hidden;
    overflow: hidden;
    
}

.loginMain {
    height: 100vh;
    width: 100vw;
}

.loginMain > div:nth-of-type(1) > img {
    height: 5%;
    margin-top: 10%;
    margin-left: -60%;
}

.loginMain > div:nth-of-type(1) > form {
    width: 20vw;
    margin-top: -10%;
    margin-left: 50%;
    font-family: "Outfit";
}

.loginMain > div:nth-of-type(1) > form > p:nth-of-type(1) {
    font-size: 3.0vh;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.loginMain > div:nth-of-type(1) > form > p:nth-of-type(2) {
    margin-top: 0.5%;
    font-size: 1.5vh;
    font-weight: 400;
    color:rgba(82, 82, 82, 1);
}

.loginMain > div:nth-of-type(1) > form > div {
    height: 4.5%;
    width: 100%;
    margin-top: 5%;
    background: rgba(240, 237, 255, 0.8);
    border-radius: 1vh;
}

.loginMain > div:nth-of-type(1) > form > div > img {
    margin-left: 3%;
    padding-left: 1%;
    height: 50%;
}

.loginMain > div:nth-of-type(1) > form > div > input {
    width: 100%;
    padding-left: 2%;
    background: transparent;
    border: transparent;
    outline: none;
}

.loginMain > div:nth-of-type(1) > form > button {
    margin-top: 10%;
    font-weight: 700;
    font-size: 1.5vh;
    height: 3%;
    width: 25%;
    background: linear-gradient(99.78deg, #9181F4 -5.85%, #5038ED 109.55%);
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    border-radius: 1vh;
    color: rgba(255, 255, 255, 1);

}

.loginMain > div:nth-of-type(2) {
    margin-right: -25%;
    height: 100vh;
    width: 40%;
    background: linear-gradient(217.64deg, #9181F4 -5.84%, #5038ED 106.73%);
}

@media screen and (max-width: 1350px) {
    .loginMain > div:nth-of-type(1) > img {
        margin-left: -40%;
    }

    .loginMain > div:nth-of-type(1) > form {
        margin-left: 30%;
    }

    .loginMain > div:nth-of-type(1) > form > p:nth-of-type(1) {
        font-size: 2.1vh;
    }

    .loginMain > div:nth-of-type(1) > form > p:nth-of-type(2) {
        font-size: 1.05vh;
    }

    .loginMain > div:nth-of-type(2) {
        margin-right: -15%;
    }

    .loginMain > div:nth-of-type(1) > form > div {
        width: 130%;
    }

    .loginMain > div:nth-of-type(1) > form > button {
        font-size: 1.05vh;
        width: 32.5%;
    }

    .loginMain > div:nth-of-type(2) {
        margin-right: -25.5%;
        height: 100vh;
        width: 40%;
        background: linear-gradient(217.64deg, #9181F4 -5.84%, #5038ED 106.73%);
    }
}


@media screen and (max-width: 768px) {
    .loginMain > div:nth-of-type(1) > img {
        margin-left: 10%;
    }

    .loginMain > div:nth-of-type(1) > form {
        margin-left: -17.5%;
        width: 50%;
    }

    .loginMain > div:nth-of-type(1) > form > p:nth-of-type(1) {
        font-size: 2.1vh;
    }

    .loginMain > div:nth-of-type(1) > form > p:nth-of-type(2) {
        font-size: 1.05vh;
        width: 40vw;
    }

    .loginMain > div:nth-of-type(2) {
        margin-right: -30%;
    }

    .loginMain > div:nth-of-type(1) > form > div {
        width: 100%;
    }
 
    .loginMain > div:nth-of-type(1) > form > button {
        font-size: 0.60vh;
        width: 42.5%;
    }

    .loginMain > div:nth-of-type(2) {
        height: 100vh;
        width: 60%;
        background: linear-gradient(217.64deg, #9181F4 -5.84%, #5038ED 106.73%);
    }
}